<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
 table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
  width: 80%;
  margin: 10px auto;
}
</style>
<table>
  <tr>
 <th>Panel Name</th>
 <th>Mac Id</th>
 <th>Lat</th>
 <th>Long</th>
 <th>Location</th>
</tr>
<tr *ngFor="let panel of deviceData" >
  <td>{{panel.panel_name}}</td>
  <td>{{panel.mac_id}}</td>
  <td>{{panel.Lat}}</td>
  <td>{{panel.Lng}}</td>
  <td>location</td>
</tr>
</table>
<!-- Toolbar -->


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

